* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body 
{
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container 
{
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 
{
  margin-bottom: 20px;
  color: #333;
}
.bmi-form 
{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
input 
{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}
button 
{
  padding: 12px;
  background-color: #4e54c8;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}
button:hover 
{
  background-color: #5656dc;
}
.result-box
{
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}